*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

p{
    line-height: 65vh;
    background-image: url(lonodon.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-size: 260px;
    text-align: center;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}