*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: deeppink;
}
div{
    height: 50px;
    width: 50px;
    border: 3px solid;
    position: absolute;
}
div:nth-child(1){
    top: 10rem;
    left: 5rem;
    animation: rot 10s ;
}
div:nth-child(2){
    top: 15rem;
    left: 10rem;
}
div:nth-child(3){
    top: 25rem;
    left: 5rem;
}
div:nth-child(4){
    top: 15rem;
    left: 20rem;
}
div:nth-child(5){
    top: 5rem;
    left: 48rem;
}
div:nth-child(6){
    top: 10rem;
    left: 30rem;
}
div:nth-child(7){
    top: 25rem;
    left: 15rem;
}
div:nth-child(8){
    top: 35rem;
    left: 40rem;
}
div:nth-child(9){
    top: 39rem;
    left: 50rem;
}
div:nth-child(10){
    top: 15rem;
    left: 90rem;
}
div:nth-child(11){
    top: 10rem;
    left: 80rem;
}
div:nth-child(12){
    top: 15rem;
    left: 70rem;
}
div:nth-child(13){
    top: 35rem;
    left: 50rem;
}
div:nth-child(14){
    top: 25rem;
    left: 80rem;
}
div:nth-child(15){
    top: 20rem;
    left: 65rem;
}
div:nth-child(16){
    top: 35rem;
    left: 70rem;
}
div:nth-child(17){
    top: 30rem;
    left: 85rem;
}
div:nth-child(18){
    top: 38rem;
    left: 92rem;
}
div:nth-child(19){
    top: 40rem;
    left: 25rem;
}
div:nth-child(20){
    top: 25rem;
    left: 70rem;
}
@keyframes rot {
    0%{
        height: 20px;
        width: 20px;
    }
    20%{
        height: 40px;
        width: 40px;
        transform: rotate(360 deg);
    }
    40%{
        height: 60px;
        width: 60px;
    }
    60%{
        height: 80%;
        width: 80%;
    }
    80%{
        height: 100px;
        width: 100px;
    }
}
