*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    position: absolute;
    background-color: rgb(7, 148, 148);
    font-size: 20px;
    padding: 40px;
    text-decoration: none;
    color: #fff;
    margin: 20%;
    overflow: hidden;
}
a:hover{
    background-color: #fff;
    color: black;
    transition: all 1s;
}
.border{
    position: absolute;
    width: 5px;
    height: 5px;
    
}
.top{
    top: 0;
    left: 0;
    background-color: rgb(7, 148, 148);
    transform: translateY(-60px);
}
.left{
    top: 0;
    left: 0;
    background-color: rgb(7, 148, 148);
    transform: translateX(-60px);
}
.right{
    bottom: 0;
    right: 0;
    background-color: rgb(7, 148, 148);
    transform: translateX(60px);
}
.bottom{
    bottom: 0;
    right: 0;
    background-color: rgb(7, 148, 148);
    transform: translateY(60px);
}

a:hover .top{
    height: 100%;
    transform: translateY(0);
    transition: all 1s;
}
a:hover .left{
    width: 100%;
    transform: translateX(0);
    transition: all 1s;
}
a:hover .right{
    width: 100%;
    transform: translateY(0);
    transition: all 1s;
}
a:hover .bottom{
    height: 100%;
    transform: translateY(0);
    transition: all 1s;
}


